<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A high-performance blog engine that comes with ML and mathematical functionalities by default.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">


    <title>@util.Title - Blog</title>
    <base href="~" />


    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="./img/writing.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="./img/writing.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" href="./img/writing.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="./img/writing.png">


    <link rel="stylesheet" href="./css/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./css/fluenticon.css" />
    <link rel="stylesheet" href="./css/app.css" />
    <link rel="stylesheet" href="@util.CustomCss" />
    <link rel="icon" href="@util.Icon" />

    @foreach (var item in util.CustomCssList)
    {
        <link rel="icon" href="@item" />
    }
</head>
<body>
    <div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
        <main class="mdl-layout__content">


            <div> @RenderBody()</div>


            <footer>
                @*<div class="mdl-mini-footer--left-section">
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
                        <span class="visuallyhidden">Twitter</span>
                    </button>
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__blogger">
                        <span class="visuallyhidden">Facebook</span>
                    </button>
                    <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus">
                        <span class="visuallyhidden">Google Plus</span>
                    </button>
                    <h1>Hello</h1>
                </div>
                <div class="mdl-mini-footer--right-section">
                    <button class="mdl-mini-footer--social-btn social-btn__share">
                        <i class="material-icons" role="presentation">share</i>
                        <span class="visuallyhidden">share</span>
                    </button>
                </div>*@
                <h1>Hello</h1>
            </footer>
        </main>
        <div class="mdl-layout__obfuscator"></div>
    </div>

    <button id="go-to-top"
            class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--accent mdl-color-text--white"
            onclick="goToTopFunction()">
        <i class="icon ic-arrow-up-28"></i>
    </button>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="./js/material.min.js"></script>
    <script src="./js/npm.bundle.js"></script>
    <script src="./js/site.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            var i = document.getElementById("navicon")
            if (x.className === "topnav") {
                x.className += " responsive";
                i.className = "icon ic-dismiss-24";
            } else {
                x.className = "topnav";
                i.className = "icon ic-navigation-24";
            }
        }
    </script>

</body>

</html>

