<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <title>@util.Title - Blog</title>
    <base href="~" />
    <link rel="stylesheet" href="./css/fluenticon.css" />
    <link rel="stylesheet" href="./css/app.css" />
    <link rel="stylesheet" href="@util.CustomCss" />
    <link rel="icon" href="@util.Icon" />

    @foreach (var item in util.CustomCssList)
    {
        <link rel="icon" href="@item" />
    }
</head>

<body class="ms-Fabric">

    <nav class="ms-bgColor-white">
        <div class="ms-Grid-row p-1 lg:px-10">
            <div class="ms-Grid-col ms-sm5 ms-md1 ms-lg1 p-2">
                <img src="./img/logo.svg"/>
            </div>
            <div class="ms-Grid-col ms-sm10 p-2">

            </div>
            <div class="ms-Grid-col ms-sm1 p-2 ">
                <span class="icon ic-navigation-24 align-self-center" />
            </div>
        </div>
    </nav>

    <div> @RenderBody()</div>




    @await RenderSectionAsync("Scripts", required: false)

    <script src="./js/fabricjs.js"></script>
    <script src="./js/site.js"></script>
    <script src="./js/npm.bundle.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            var i = document.getElementById("navicon")
            if (x.className === "topnav") {
                x.className += " responsive";
                i.className = "icon ic-dismiss-24";
            } else {
                x.className = "topnav";
                i.className = "icon ic-navigation-24";
            }
        }
    </script>

</body>

</html>

