<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <title>@util.Title - Blog</title>
    <base href="~" />

    <link rel="stylesheet" href="./css/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./css/fluenticon.css" />
    <link rel="stylesheet" href="./css/app.css" />
    <link rel="stylesheet" href="@util.CustomCss" />
    <link rel="icon" href="@util.Icon" />

    @foreach (var item in util.CustomCssList)
    {
        <link rel="icon" href="@item" />
    }
</head>

<body>

    @*<header class="mdc-top-app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button"
                            aria-label="Open navigation menu">menu</button>
                    <span class="mdc-top-app-bar__title">Page title</span>
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                    <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Favorite">favorite</button>
                    <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">search</button>
                    <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Options">more_vert</button>
                </section>
            </div>
        </header>*@
    <div> @RenderBody()</div>




    @await RenderSectionAsync("Scripts", required: false)

    <script src="./js/material.min.js"></script>
    <script src="./js/npm.bundle.js"></script>
    <script src="./js/site.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            var i = document.getElementById("navicon")
            if (x.className === "topnav") {
                x.className += " responsive";
                i.className = "icon ic-dismiss-24";
            } else {
                x.className = "topnav";
                i.className = "icon ic-navigation-24";
            }
        }
    </script>

</body>

</html>

