<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta http-equiv="Cache-control" content="public">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-TileColor" content="@utilityService.ApplicationTitleColor">
    <meta name="theme-color" content="@utilityService.ThemeColor">
    <meta name="apple-mobile-web-app-status-bar-style" content="@utilityService.SafariIconColor">
    <meta name="apple-mobile-web-app-title" content="@utilityService.WebsiteName">

    <base href="~" />
    <title>@utilityService.Title @(!string.IsNullOrWhiteSpace(utilityService.SubTitle)?" - " + utilityService.SubTitle:"")</title>

    <meta name="description" content="@utilityService.MetaDescription">
    <link rel="canonical" href="@utilityService.CurrentUri">
    <meta property="og:title" id="ogTitle" content="@utilityService.Title">
    <meta property="og:description" id="ogDesc" content="@utilityService.MetaDescription">
    <meta property="og:url" id="ogUrl" content="@utilityService.CurrentUri">
    <meta property="article:modified_time" id="modifiedTime" content="@utilityService.ModifiedTime">
    <meta property="og:image" id="ogImage" content="@utilityService.FeatureImage">

    <meta property="og:locale" content="bn-BD">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="@utilityService.WebsiteName">
    <meta property="article:publisher" content="@utilityService.Publisher">
    <meta property="og:image:width" content="1600">
    <meta property="og:image:height" content="840">
    <meta name="twitter:creator" content="@utilityService.TwitterHandle">

    <link rel="msapplication-TileImage" type="image/png" size="150x150" href="@utilityService.Icon150">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="@utilityService.AppleIcon">
    <link rel="icon" type="image/png" sizes="32x32" href="@utilityService.Icon32">
    <link rel="icon" type="image/png" sizes="16x16" href="@utilityService.Icon16">
    <link rel="icon" type="image/png" sizes="192x192" href="@utilityService.Icon192">
    <link rel="mask-icon" type="image/png" href="@utilityService.SafariIcon" color="@utilityService.SafariIconColor">
    <link rel="apple-touch-icon-precomposed" type="image/png" href="@utilityService.AppleIcon">

    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">

    <link rel="stylesheet" href="/css/material.min.css"  media="screen" runat="server">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"  media="screen" runat="server">
    <link rel="stylesheet" href="/css/fluenticon.css" media="screen" runat="server" />
    <link rel="stylesheet" href="/css/app.css"  media="screen" runat="server"/>

    <link rel="stylesheet" href="@utilityService.CustomCss"  media="screen" runat="server"/>
    @foreach (var css in utilityService.CustomCssList)
    {
        <link rel="stylesheet" href="@css" media="screen" runat="server" />
    }

    <script src="@utilityService.HeaderJS"></script>
    @foreach (var js in utilityService.HeaderJsList)
    {
        <script src="@js"></script>
    }
</head>
<body>

    <a href="@navigationService.Home">Home</a>
    <partial name="_LoginPartial" />
    @RenderBody()

    <button id="go-to-top"
            class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--accent mdl-color-text--white"
            onclick="goToTopFunction()">
        <i class="icon ic-arrow-up-28"></i>
    </button>


    <script src="/js/material.min.js" runat="server"></script>
    <script src="/js/npm.bundle.js" runat="server"></script>
    <script src="/js/site.js" runat="server"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            var i = document.getElementById("navicon")
            if (x.className === "topnav") {
                x.className += " responsive";
                i.className = "icon ic-dismiss-24";
            } else {
                x.className = "topnav";
                i.className = "icon ic-navigation-24";
            }
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

