<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <title>@util.Title - Blog</title>
    <base href="~" />
    <link rel="stylesheet" href="./css/fabric.component.css" />
    <link rel="stylesheet" href="./css/fabric.min.css" />
    <link rel="stylesheet" href="./css/fabriccore.css" />
    <link rel="stylesheet" href="./css/taliwind.min.css" />
    <link rel="stylesheet" href="./css/fluenticon.css" />

    <link rel="stylesheet" href="./css/app.css" />
    <link rel="stylesheet" href="@util.CustomCss" />
    <link rel="icon" href="@util.Icon" />

    @foreach (var item in util.CustomCssList)
    {
        <link rel="icon" href="@item" />
    }
</head>

<body class="ms-Fabric">
    <nav class="topnav" id="myTopnav">
        @foreach (var item in Menu.GetMenuItems())
        {
            <a href="@item.Href" class="active">
                @if (!string.IsNullOrWhiteSpace(item.Icon))
                {<span class="icon @item.Icon" />}
                @item.DisplayText
            </a>
        }
        @*<a href="#home" class="active">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>*@
        <a href="javascript:void(0);" class="topicon" onclick="myFunction()">
            <span class="icon ic-navigation-24" id="navicon" />
        </a>
    </nav>

    <div> @RenderBody()</div>




    @await RenderSectionAsync("Scripts", required: false)

    <script src="./js/fabricjs.js"></script>
    <script src="./js/site.js"></script>
    <script src="./js/npm.bundle.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            var i = document.getElementById("navicon")
            if (x.className === "topnav") {
                x.className += " responsive";
                i.className = "icon ic-dismiss-24";
            } else {
                x.className = "topnav";
                i.className = "icon ic-navigation-24";
            }
        }
    </script>

</body>

</html>

